.notebook-page {
  margin-top: 10px;
}

.notebook-header {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 3px solid red;
}

.notebook-toolbar {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.notebook-content-outer {
  height: 80vh;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(255, 233, 233);
}

.notebook-content-inner {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notebook-content-row {
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
